@charset "UTF-8";

/* 共通部分
------------------------- */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #437;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER
------------------------- */

#home {
    
    .logo {
        width: 110px;
        margin-top: 14px;
    }

    .main-nav {
        display: flex;
        font-size: 1.25em;
        text-transform: uppercase;
        margin-top: 34px;
        list-style: none;
    }
    
    .main-nav li {
        margin-left: 36px;
    }
    
    .main-nav a {
        color: #432;
    }
    
    .main-nav a:hover {
        color: #0bd;
    }
    
    .page-header {
        display: flex;
        justify-content: space-between;
    }
    
    .wrapper {
        max-width: 1100pex;
        margin: 0 auto;
        padding: 0 4%;
    }
    
}

/* HOME
------------------------- */
.home-content {
    text-align: center;
    margin-top: 10%;
}

/* 見出し
------------------------- */
.page-title {
    font-size: 4rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font: normal;
    color: #432;
}

/* HOME背景
------------------------- */
.big-bg {
    background-size: cover;
    background-position: center top;
}

#home {
    background-image: url(../images/cats-7272468_1280.png);
    min-height: 100vh;
}

#home .page-title {
    text-transform: none;
}

/* ABOUT
------------------------- */
.second-header {
    background: #333;
    padding: 1rem 0;
    /* 固定表示 */
    position: fixed;
    width: 100%;
    z-index: 1;
}


#hero {
    background-color: #4db1ec;
    background-image: url('../images/book-2170910_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    animation: bg-color 24s infinite;
    height: 100vh;
    display: flex;
    align-items: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

@keyframes bg-color {
    0% { background-color: var(--light-blue); }
    12.5% { background-color: var(--blue); }
    25% { background-color: var(--purple); }
    37.5% { background-color: var(--pink); }
    50% { background-color: var(--orange); }
    62.5% { background-color: var(--yellow); }
    75% { background-color: var(--light-green); }
    87.5% { background-color: var(--green); }
    100% { background-color: var(--light-blue); }
}

#iam {
    background-image: linear-gradient(var(--light-green), var(--green));
    padding: 7rem 0;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

.btn-menu {
    position: absolute;
    top: 12px;
    right: 12px;
    border: 1px solid rgba(255, 255, 255, .5);
    color: var(--white);
    padding: .5rem 1rem;
}

.second-header {
    .main-nav {
        background: var(--grey);
        width: 0;
        position: absolute;
        z-index: 2;
        top: 50px;
        right: 0;
        overflow: hidden;
        transition: .5s;
    }
    
    .main-nav li {
        text-align: center;
        margin: 2rem 0;
    }
    
    .main-nav a {
        display: block;
    }
    
    .main-nav.open-menu {
        width: 100%;
    }
}

/* footer
------------------------- */
footer {
    background: black;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* モバイル版
------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }

    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }

    .page-header {
        flex-direction: column;
        align-items: center;
    }
}